@charset "utf-8";
	body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,Heiti SC,STHeiTi,Arial,sans-serif;
	background:#fff
}
div,form,img,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	border:0
}
ul,li {
	margin:0;
	padding:0;
	list-style:none
}
div {
	color:#585858;
}

.footer {
	clear:both;
	margin:5px 0 0 0;
	text-align:center;
	line-height:22px;
	overflow:hidden;
	background:#444 url(/static/images/Base_imge/Footer_blackGroup.jpg) repeat-x;
}
.footer .fBox {
	border-top:1px solid #fff;
	padding:20px 0;
	color:#666
}
.footer a {
	color:#fff
}
.footer .lnk a {
	text-decoration:underline
}
.footer .fotlogo {
	float:left;
	margin:30px 25px 8px 0
}
.footer .foot-r {
	float:left;
	width:190px;
	margin-left:10px
}
.footer_nav {
	line-height:35px;
	text-align:center;
	clear:both
}
.footer_nav a {
	margin:0 10px
}
.footer {
	border-top:2px solid #42ad46;
	margin:30px 0;
}
.foot_link {
	text-align:center;
	margin-top:30px;
}
.foot_link a,.foot_link span {
	color: #f87caa;
}
.foot_link a:hover {
	color:#ff8800
}
.foot_link span {
	padding:0 10px
}
.footer p {
	text-align:center;
	margin-top:10px;
}
