{%extends 'Base_Body.html' %}
{%block head%}{%endblock head%}

{%block Header_context%}{%endblock Header_context%}
{%block Middle%}

    <div id="home">
        <h2 class="home">用 户 注 册</h2>
    </div>
    <div class="middle_content">
        <div class="entry">
            <p><img src="/static/images/Base_imge/Index_images/img_8.jpg" alt="" /></p>
            <h3>用户注册</h3>
            <p>萌站成立于 2016 年六一儿童节，目标是<建设国内最大的二次元资源站>，并在为此努力的路上。我们分享来自全球的动漫资源，无门槛下载资源给你最佳的体验。<P>萌站站长：黑夜主权   QQ：1427460400</p>
            <a href="http://1-yi.cn" class="button btn_1">进入萌站</a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=1427460400&site=qq&menu=yes" class="button btn_1">联系我</a>
            <audio autoplay="autoplay"><source src="/mengzhan.mp3" type="audio/mpeg" /></audio>

            <div class="cl"></div>
            <br />
        </div>
    </div>
    <div class="cl"></div>

{%endblock Middle%}

{%block End_Script%}{%endblock End_Script%}

{#{%block content%}#}
{#    <div style="width:500px;height: 500px">#}
{#        <p>郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！</p>#}
{#    </div>#}
{#{%endblock content%}#}
