@media (max-width: 768px){
  .content {
	padding: 40% 0 0;
	}
}

@media (max-width: 603px){
#tf-menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.79);
	}
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}
/*****************************/
/**** REVIEWS SECTION ****/
/*****************************/
.reviews-section {
	padding:40px 0 130px;
}
.reviews-section.with-top-effect {
	padding-top:140px;
	padding-bottom:90px;
}
/******  REVIEWS SLIDER ******/
.reviews-slider {
	overflow:hidden;
	padding-top:20px;
}
.reviews-slider.review-slider-seconds .slide-item {
	margin-right:30px;
}
.reviews-slider.review-slider-seconds .slide-item .image-block {
	width:200px;
	height:200px;
}
.reviews-slider.review-slider-seconds .slide-item .description-block .review {
	z-index:-1;
	padding:50px 25px 50px 50px;
}
.reviews-slider.review-slider-seconds .slide-item .description-block .review em {
	color:#666666;
}
.reviews-slider.review-slider-seconds .owl-controls .owl-pagination {
	padding-top:60px;
	text-align:center;
}
.reviews-slider .owl-wrapper:after {
	content:"";
	clear:both;
	display:table;
	height:0;
}
.reviews-slider .owl-wrapper:before {
	content:"";
	clear:both;
	display:table;
	height:0;
}
.reviews-slider .owl-controls .owl-pagination {
	padding:15px 0;
	text-align:right;
}
.reviews-slider .owl-controls .owl-pagination .owl-page {
	display:inline-block;
	vertical-align:niddle;
	width:10px;
	height:10px;
	border:1px solid #cfcfcf;
	background:#fff;
	margin:0 5px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	cursor:pointer;
}
.reviews-slider .owl-controls .owl-pagination .owl-page.active,.reviews-slider .owl-controls .owl-pagination .owl-page:hover {
	background:#666;
	border-color:#666;
}
.reviews-slider .slide-item:after {
	content:"";
	clear:both;
	display:table;
	height:0;
}
.reviews-slider .slide-item:before {
	content:"";
	clear:both;
	display:table;
	height:0;
}
.reviews-slider .slide-item .media-left {
	padding:0;
}
.reviews-slider .slide-item .media-body {
	overflow:visible;
}
.reviews-slider .slide-item .image-block {
	width:425px;
}
.reviews-slider .slide-item .image-block > img{
	border-radius: 10px;
}
.reviews-slider .slide-item .description-block .name {
	padding:20px 15px 30px 35px;
}
.reviews-slider .slide-item .description-block .name span {
	font-size:14px;
	color:#333333;
	text-transform:uppercase;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	font-weight:bold;
}
.reviews-slider .slide-item .description-block .review {
	border-radius: 10px;
	border:1px solid #eeeeee;
	padding:50px;
	margin-left:135px;
	position:relative;
	background:#fff;
	-webkit-box-shadow:1px 2px 12px 0px rgba(0,0,0,0.08);
	-moz-box-shadow:1px 2px 12px 0px rgba(0,0,0,0.08);
	box-shadow:1px 2px 12px 0px rgba(0,0,0,0.08);
	background-color: rgba(255,255,255,0.5);
    text-align: left;
}
.reviews-slider .slide-item .description-block .review:before {
	content:"";
	width:40px;
	height:34px;
	display:block;
	position:absolute;
	top:-20px;
	background:url(/static/ZA_Show/img/team/quotes.png) center no-repeat;
	right:50px;
}
.reviews-slider .slide-item .description-block .review em {
	color:#666666;
	font-size:16px;
	line-height:30px;
}
/******  SERVICE NAVIGATION ******/
.service-navigation {
	margin-bottom:45px;
}
.service-navigation li.active .navigation-icon,.service-navigation li:hover .navigation-icon {
	background:#ff6400;
}
.service-navigation li.active .navigation-icon:after,.service-navigation li:hover .navigation-icon:after {
	border-top-color:#ff6400;
}
.service-navigation li.active .navigation-icon .icon,.service-navigation li:hover .navigation-icon .icon {
	background:#ff6400;
	border-color:#ffb07c;
	color:#fff;
}
.service-navigation .navigation-item {
	text-align:center;
	cursor:pointer;
	margin-bottom:15px;
}
.service-navigation .navigation-item .navigation-icon {
	margin:0 auto 55px;
	width:170px;
	max-width:100%;
	background:#eff2f7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	padding:25px 0;
	text-align:center;
	position:relative;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.service-navigation .navigation-item .navigation-icon:after {
	content:"";
	border:15px solid transparent;
	border-top:15px solid #eff2f7;
	display:block;
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-15px;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.service-navigation .navigation-item .navigation-icon .icon {
	display:inline-block;
	width:88px;
	height:88px;
	line-height:88px;
	border:1px solid #fff;
	text-align:center;
	font-size:32px;
	color:#666666;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	background:#fff;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.service-navigation .navigation-item h5:after {
	margin:20px auto 0;
}
.iphone-image img {
	display:block;
	margin-left:-280px;
}
/*MEDIA*/
@media (min-width:1650px) {
	.with-top-effect {
	background-size:contain;
}
}@media (max-width:1200px) {
	.portfolio-item .portfolio-image img {
	height:295px;
}
.portfolio-list-section .list-works.mini-list-works .portfolio-item .portfolio-image img {
	height:212px;
}
.iphone-image img {
	margin-left:-180px;
	width:484px;
}
.offers-section .text-item .dot-line {
	top:6px;
	width:73px;
	right:-98px;
}
.offers-section .text-item.top-item {
	padding-top:0;
	margin-bottom:0px;
}
.offers-section .text-item.top-item:after {
	top:16px;
}
.offers-section .text-item.top-item .dot-line {
	top:20px;
}
.offers-section .text-item.right-item.top-item .dot-line,.offers-section .text-item.right-item.bottom-item .dot-line {
	left:-98px;
}
.offers-section .text-item.middle-item {
	margin-bottom:24px;
}
}@media (max-width:992px) {
	.portfolio-item .portfolio-image .portfolio-item-body {
	bottom:15px;
	left:15px;
}
.portfolio-item .portfolio-image img {
	height:220px;
}
.achievements-section {
	padding-bottom:150px;
}
.list-achieve .col-md-3:nth-child(2) .achieve-item:after {
	display:none;
}
.service-item h5 {
	text-align:center;
}
.service-item p {
	text-align:center;
}
.service-item .media-left {
	display:block;
	margin:0 0 15px;
	text-align:center;
	padding-right:0;
}
.service-item .media-left .wrap-service-icon {
	display:inline-block;
	margin:0;
}
.service-item .media-body {
	width:auto;
	display:block;
}
.team-slider .slick-list .slick-track .slide-item {
	padding:0 10px;
}
.team-slider .slick-list .slick-track .slide-item .image {
	margin-bottom:-200px;
}
.plan-item .item-body .list-features {
	padding:35px 15px 20px 30px;
}
.iphone-image {
	margin-bottom:30px;
}
.iphone-image img {
	margin-left:auto;
	margin-right:auto;
	width:auto;
	max-width:100%;
}
.offers-section .text-item .dot-line {
	display:none;
}
.offers-section .text-item.left-item {
	text-align:left;
	padding-left:20px;
	padding-right:0;
}
.offers-section .text-item.left-item:after {
	left:-10px;
	right:auto;
}
}@media (max-width:767px) {
	.header {
	position:static !important;
}
.header .navbar {
	position:static !important;
}
body.fixed-header .scrolling-header .navbar {
	background:#2b2e33;
	padding-top:35px;
	padding-bottom:35px;
}
.portfolio-item .portfolio-image {
	height:220px;
}
.portfolio-item .portfolio-image img {
	height:auto;
	min-height:100%;
	min-width:100%;
	max-width:100%;
}
.portfolio-list-section .list-works.mini-list-works .portfolio-item .portfolio-image {
	height:250px;
}
.portfolio-list-section .list-works.mini-list-works .portfolio-item .portfolio-image img {
	height:auto;
	min-height:100%;
	min-width:100%;
	max-width:100%;
}
body.fixed-header .scrolling-header .navbar {
	background:#2b2e33;
}
body.fixed-header .scrolling-header .navbar .navbar-nav li a {
	color:#fff;
}
.header .navbar {
	background:#2b2e33;
}
.header .navbar .navbar-collapse {
	border:none;
	margin-top:70px;
}
.header .navbar .navbar-collapse .navbar-nav {
	border:none;
}
.header .navbar .relative-nav-container .toggle-button {
	float:left;
}
.header .navbar .navbar-brand {
	display:block;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	right:0;
	width:40px;
}
.header .navbar .navbar-brand img {
	margin:0;
}
.header .navbar .navbar-nav.wrap-user-control {
	margin:0;
	float:right;
}
.header .navbar .navbar-nav.wrap-user-control li {
	display:inline-block;
	vertical-align:middle;
}
.steps-list .step-item:after {
	display:none;
}
.list-achieve .col-md-3 .achieve-item:after {
	display:none;
}
.steps-list .step-item .item-icon {
	margin:0 auto 15px;
	display:block;
}
.steps-list .step-item .item-text h5 {
	text-align:center;
}
.buy-section .section-text {
	margin-bottom:15px;
}
.price-section .plans-list .col-md-4 {
	display:block;
	float:none;
	margin:0 auto 30px;
}
.reviews-slider .slide-item .media-left {
	padding-right:0;
	display:block;
}
.reviews-slider .slide-item .media-left .image-block {
	margin:0 auto;
}
.reviews-slider .slide-item .media-body {
	width:auto;
}
.reviews-slider .slide-item .description-block .name {
	text-align:center;
}
.reviews-slider .slide-item .description-block .review {
	margin-left:0;
}
.footer-section .col-md-3 {
	margin-bottom:15px;
}
.wrap-timeline .container {
	padding-left:40px;
	padding-right:40px;
}
.wrap-timeline:after {
	content:'';
	position:absolute;
	top:0;
	display:block;
	bottom:110px;
	left:60px;
	width:2px;
	margin-left:-1px;
}
.wrap-timeline .top-row .time-title {
	text-align:left;
}
.wrap-timeline .top-row .time-title .round-ico {
	position:absolute;
	left:0;
	margin-left:-6px;
	text-align:center;
	bottom:40px;
}
.wrap-timeline .row > .round-ico.little {
	left:22px;
	margin-left:0;
}
.wrap-timeline .row > .round-ico.little:after {
	left:100%;
}
.wrap-timeline .row > .round-ico.little:before {
	right:-37px;
	left:auto;
}
.wrap-timeline .row > .round-ico.big {
	position:absolute;
	top:-5px;
	left:35px;
	margin-left:-20px;
}
.wrap-timeline .right-row .time-item {
	padding-left:110px;
	text-align:left;
}
.wrap-timeline .left-row .time-item {
	padding-left:110px;
	text-align:left;
	padding-right:0;
}
.wrap-timeline .time-item .time-image img {
	max-width:100%;
	width:auto;
}
.wrap-timeline .plus {
	padding-bottom:90px;
}
.wrap-timeline .plus .plus-ico {
	display:block;
	margin:0 0 0 -5px;
}
.service-navigation .col-md-3 {
	width:50%;
}
.wrap-inside-nav {
	position:static;
	padding:0;
}
.wrap-inside-nav .inside-col {
	padding:15px 0;
	border-right:none;
	border-bottom:1px solid #26282d;
}
.wrap-inside-nav .inside-col h5 {
	display:none;
}
.wrap-inside-nav .inside-col .inside-nav li {
	float:left;
	width:49%;
}
.wrap-inside-nav .inside-col .inside-nav li a {
	font-size:12px;
	padding-left:20px;
}
}@media (max-width:500px) {
	.buy-section {
	text-align:center;
}
.buy-section .section-text {
	padding-left:0;
}
.buy-section .section-text .like {
	position:static;
	display:inline-block;
	margin-bottom:15px;
}
.service-navigation .col-md-3 {
	width:100%;
}
.content-tabs > li {
	margin:0 0 20px 0;
	width:100%;
	display:block;
}
/*.portfolio-list-section {
	*/
  .list-works .col-xs-6 {
	width:100%;
	float:none;
}
.list-works .portfolio-item .portfolio-image {
	height:auto;
}
.list-works .portfolio-item .portfolio-image img {
	width:100%;
}
/*}*/
  .list-works.mini-list-works .portfolio-item .portfolio-image {
	height:auto;
}
.list-works.mini-list-works .portfolio-item .portfolio-image img {
	width:100%;
}
.services-section .col-md-4 {
	float:none;
	display:block;
	width:100%;
}
.services-section .services-divider {
	display:none;
}
.team-slider .slick-list .slick-track .slide-item.slick-current + .slide-item .slide-description {
	opacity:0;
}
.team-slider .slick-list .slick-track .slide-item.slick-current .slide-description {
	opacity:1;
}
.list-achieve .col-md-3 {
	float:none;
	width:100%;
}
.list-achieve .col-md-3 .achieve-item {
	margin-bottom:30px;
}
.list-achieve .col-md-3 .achieve-item .count {
	padding:10px 0;
}
.reviews-slider .slide-item .description-block .review {
	padding:25px;
}
.latest-works-section .scroll-pane .scroll-bar-wrap {
	margin:50px 15px;
}
.blog-content-section .left-column .wrap-blog-post .wrap-linked-image {
	min-height:150px;
}
.comments .comment-item .media-left {
	display:block;
	width:auto;
	text-align:center;
	margin-bottom:15px;
}
.comments .comment-item .media-left .avatar {
	display:inline-block;
}
.comments .comment-item .media-body {
	display:block;
	width:auto;
}
.latest-works-section .scroll-pane .scroll-bar-wrap .scroll-bar {
	max-width:100%;
}
}