{%extends 'Base_Body.html' %}
{% load static %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_BT/CSS/view.css">
    <link rel="stylesheet" href="/static/ZA_BT/CSS/ResourcedownloadBase.css">
{%endblock head_more%}

{%block Middle%}
<div id="tf-home">
    <div class="overlay">
        <div class="content text-center"><!--此处为内容块的总标题，根据需要删减修改-->
            <h1>郑州轻工业大学<strong><span class="color">动漫协会</span></strong></h1>
            <!--fa小图标使用方法百度font-awesome即可-->
            <p class="lead">此处内容块副标题，根据自己的需要进行修改<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i></p>
        </div>
        <main id="body-container" class="container">
            <!--在此处编辑你的HTML代码,详情了解Boostrap栅格系统-->
            <div class="row">
                <section>
                    <div class="section-white"><h2>{{ itemData.rdName }}</h2></div>
{#                    <div class="section-white"><h2>[USP RAWS] Sailor Moon Crystal - 07-11 </h2></div>#}
                    <div class="row">
                        <p class="col-xs-12 col-sm-6">分类：<span>{{ itemData.rdType }}</span></p>
                        <p class="col-xs-12 col-sm-6">发布时间：<span>{{ itemData.rdUpTime }}</span></p>
                        <p class="col-xs-12 col-sm-6">文件大小：<span>{{ itemData.rdSize }}</span></p>
                        <p class="col-xs-12 col-sm-6">种子数：<span>{{ itemData.rdUpNum }}</span></p>
                        <p class="col-xs-12 col-sm-6">下载数：<span>{{ itemData.rdDownloadNum }}</span></p>
                        <p class="col-xs-12 col-sm-6">完成：<span>{{ itemData.rdOK }}</span></p>
                    </div>
                    <div class="section-white">
{#                        <a href="#"><i class="fa fa-download">下载</i></a>#}
                    </div>
                </section>
                <section>
                    <div class="text-center">
                        {{ itemData.rdInfo|safe }}
                    </div>
                </section>
                <section id="fileListContainer">
                    <div class="sectionWhite">BT下载</div>
                    <div class="downloadList">
{#                        <p class="vipLink">會員專用連接:<span class="vipLinkHref">{{ itemData.rdName }}</span></p>#}
                        <p>Magnet連接: <a href="#">magnet:?xt=urn:btih:G7KWT3U32AXUS4ECPMEXIZJGNY4AFXWT</a></p>
                        <p>外部搜索連接: <a href="#">從谷歌搜索資源種子</a></p>
                    </div>
                    <hr>
                    <div class="section-white">文件列表</div>
                    <div class="fileList">
{#                    <ul>#}
{#                        <li><i class="fa fa-file"></i>[USP RAWS] Sailor Moon Crystal - 07-11 (Mexican Spanish Dub) - 11 58A.M. XHCCT 7.1 2018-11-03.ts <span>(13.9 GiB)</span></li>#}
{#                    </ul>#}
                        {{ itemData.rdFileList|safe }}
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>
<!--==========================================-->
{%endblock Middle%}

{%block End_Script_more%}
<script src="//at.alicdn.com/t/font_1076649_vkuuueuh3c.js"></script>
<script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script>
<script type="text/javascript" src="{% static 'ZA_BT/JavaScript/view.js' %}"></script>
{%endblock End_Script_more%}
