{%extends 'Base_Body.html' %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_BT/CSS/view.css">
    <link rel="stylesheet" href="/static/ZA_BT/CSS/ResourcedownloadBase.css">
{%endblock head_more%}

{%block Middle%}
<!-- Navigation 样式占位，用于大体预览网页效果，此处不用修改
==========================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- 移动设备显示的导航部分 -->
        <div class="navbar-header">
            <h1>导航样式占位，用于大体预览网页效果，此处不用修改</h1>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--==========================================-->
<!--*********************************************************************************************-->
<!-- Home Page 在此处修改你的内容
==========================================-->
<div id="tf-home">
    <div class="overlay">
        <div class="content text-center"><!--此处为内容块的总标题，根据需要删减修改-->
            <h1>郑州轻工业大学<strong><span class="color">动漫协会</span></strong></h1>
            <!--fa小图标使用方法百度font-awesome即可-->
            <p class="lead">此处内容块副标题，根据自己的需要进行修改<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i></p>
        </div>
        <main id="body-container" class="container">
            <!--在此处编辑你的HTML代码,详情了解Boostrap栅格系统-->
            <div class="row">
                <section class="container">
                    <div class="section-white"><h2>[USP RAWS] Sailor Moon Crystal - 07-11 (Mexican Spanish Dub) - 11 58A.M. XHCCT 7.1 2018-11-03.ts</h2></div>
                    <div class="row">
                        <p class="col-xs-12 col-sm-6">分类：<span>动画</span></p>
                        <p class="col-xs-12 col-sm-6">发布时间：<span>2018-11-08 08:47</span></p>
                        <p class="col-xs-12 col-sm-6">文件大小：<span>13.9 GiB</span></p>
                        <p class="col-xs-12 col-sm-6">种子数：<span>1</span></p>
                        <p class="col-xs-12 col-sm-6">完成：<span>0</span></p>
                    </div>
                    <div class="section-white">
                        <a href="#"><i class="fa fa-download">下载</i></a>
                    </div>
                </section>
                <section>
                    <p>这是一条简介。</p>
                </section>
                <section>
                    <div class="section-white">文件列表</div>
                    <ul>
                        <li><i class="fa fa-file"></i>[USP RAWS] Sailor Moon Crystal - 07-11 (Mexican Spanish Dub) - 11 58A.M. XHCCT 7.1 2018-11-03.ts <span>(13.9 GiB)</span></li>
                    </ul>
                </section>
            </div>
        </main>
    </div>
</div>
<!--==========================================-->
{%endblock Middle%}

{%block End_Script_more%}
{%endblock End_Script_more%}
