/* form-horizontal */
#body-container{
	border:1px solid #99CCFF;
	background-color:rgba(153,204,255,0.1);
	transition:all 2s ease-out;
	-moz-transition:all 2s ease-out; /* Firefox 4 */
	-webkit-transition:all 2s ease-out; /* Safari and Chrome */
	-o-transition:all 2s ease-out; /* Opera */
}
#body-container:hover{
	border-radius: 30px;
	background-color:rgba(153,204,255,0.5);
}
.box img{
    width: 75%;
    /*opacity: 0;*/
    transition: all 1s ease;
}

.easytip-text, .easytip-text:before, .easytip-text:after {
    box-sizing: content-box;
}

.easytip-arrow, .easytip-arrow:before, .easytip-arrow:after {
    box-sizing: content-box;
}

.easy-black {
    color: rgba(238,238,238,1);
    background-color: rgba(75,75,75,0.8);
    border: 1px solid rgba(75,75,75,1);
    border-radius: 5px;
    padding: 10px;
}

.easy-blue {
    color: rgba(255,255,255,1);
    background-color: rgba(51,153,204,0.8);
    border: 1px solid rgba(102,153,204,1);
    border-radius: 5px;
    padding: 10px;
}

.easy-red {
    color: rgba(255,255,255,1);
    background-color: rgba(255,102,102,0.9);
    border: 1px solid rgba(204,0,51,1);
    border-radius: 5px;
    padding: 10px;
}

.easy-white {
    color: rgba(102,102,102,1);
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(153,153,153,1);
    border-radius: 5px;
    padding: 10px;
}

.has-success .form-control-feedback{
    color: #00FFCC;
}
.has-success .control-label{
    color: #00FFCC;
}
.has-error .control-label{
    color: rgba(255,102,102,0.9);
}
.has-error .form-control-feedback {
    color: rgba(255,102,102,0.9);
}