/*usercenter*/
button{
    outline:none!important;
}
button:focus{
    outline: 0!important;
}
.user-msg-title > h2{
    font-size:20px;
}
select{
    height:26px;
    line-height:26px;
    padding-bottom:1px;
}
input{

}
label{
    font-weight:normal;
}
.loading{
    background:rgba(0,0,0,0.4);
    position: fixed;
    width:100%;
    height:100vh;
    color:black;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}

.loading>div{
    display: flex;
    align-items: center;
}
.box-taiji {z-index:1;width:50px;height:50px;position: relative;margin:6px auto;border-radius:50px;background-color:#000;box-shadow:0 0 6px rgba(0,0,0,.8);animation:rotation 2.5s linear infinite;-webkit-animation:rotation 2.5s linear infinite;-moz-animation:rotation 2.5s linear infinite;}
.box-taiji:before,
.box-taiji:after {width:25px;height:50px;position:absolute;top:0;display:block;content:"";}
.box-taiji:before {left:0;border-radius:25px 0 0 25px;background-color:#000;}
.box-taiji:after {right:0;border-radius:0 25px 25px 0;background-color:#fff;}
.circle-01,
.circle-02 {width:25px;height:25px;position:absolute;z-index:2;border-radius:32.5px;}
.circle-01 {top:0;left:12.5px;background-color:#000;}
.circle-02 {bottom:0;right:12.5px;background-color:#fff;}
.circle-01:after,
.circle-02:after {width:9px;height:9px;position:absolute;z-index:3;display:block;content:"";border-radius:9px;}
.circle-01:after {top:7px;left:7px;background-color:#fff;}
.circle-02:after {bottom:7px;right:7px;background-color:#000;}
@keyframes rotation {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}


img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}
#tf-home {
	background:url(../img/background/background.jpg);
	/*background:url(img/1500x500.jpg);*/
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#cfcfcf;
}
#tf-home .overlay {
	background:-moz-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.8)),color-stop(17%,rgba(0,0,0,0.73)),color-stop(35%,rgba(0,0,0,0.66)),color-stop(62%,rgba(0,0,0,0.55)),color-stop(100%,rgba(0,0,0,0.4)));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#66000000',GradientType=0);
	/* IE6-9 */
	height:1900px;
	background-attachment:fixed;
}
.content {
    position:relative;
    /*响应式标记，全改为20%*/
    padding:6% 0 0;
}
@media (max-width: 640px){
    .content {
        padding:30% 0 0;
    }
}
@media (max-width: 960px){
    .content {
        padding:15% 0 0;
    }
}
.container{
    /*响应式标记，全改为15px*/
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width: 768px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*usercenter*/
.box1{
    /*border: 4px pink dashed;*/
    opacity: 0.99;
    color: #99a2aa;
    padding-right: 0px;
    padding-left: 0px;
    background-color:rgba(51,51,51,0.8);
    border: #00FFCC 1px solid;
    min-height:900px;
}
.box2{
    border: 4px #ccd0d7 dashed;
    opacity: 0.99;
    color: #99a2aa;
    background-color:rgba(255,255,255,0.8);
    padding: 50px 20px 0;
    min-height:900px;
}
.box1 .btn-block + .btn-block {
    margin-top: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #00a1d7;
    border-radius: 0px;
}
.box1 .nav-pills > li > span{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: #00FFCC 1px solid;
    border-bottom: #00FFCC 1px solid;
    font-size: 20px;
}
.nav-pills-special > li > a {
    border-top: #00FFCC 1px solid;
}
.nav-pills-special {
    border-bottom: #00FFCC 1px solid;
}
.line-border{
    border-bottom: #00FFCC 2px solid;
    margin-top: 2%;
    margin-bottom: 2%;
}
.user-head{
    max-width: 130px;
    max-height: 130px;
}
.user-head-left{
    /* 响应式标记 */
    display: inline-block;
    margin-left: 16px;
}
.user-head-left .user-top-name{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin-right: 8px;
    color: #fb7299
}
.user-head-left .user-top-tags{
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 4px;

    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.user-head-left .user-top-tag1-color1{
    border: 1px solid #fb7299;
    background-color: #fb7299;
    color: #fff;
}
.user-head-left .user-top-tag1-color2{
    border: 1px solid #00a1d7;
    background-color: #00a1d7;
    color: #fff;
}
.user-head-left .user-level{
    margin-top: 2%;
    /* 响应式标记 */
    width: 300px;
    transition:all 0.5s;
    margin-left: 0px;

}
.user-head-left .user-level .progress .progress-bar{
    display: inline-block;
    background-color: #ff905a;
    line-height: 20px;
}
.user-head-left .user-level .user-level-progress{
    padding-left: 0px;
    margin-bottom: 2%;
}
.user-head-left .user-level .user-level-span{
    border: 1px solid #ff905a;
    background-color: #ff905a;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}
.user-motto{
    color: #99a2aa;
    font-size: 15px;
}
.btn-user{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ced3db;
    cursor: pointer;
    color: #fff;
    background-color: #FF6666;
}
.user-msg-title {
    display: block;
    font-size: 20px;
    color: #9933FF;
    vertical-align: top;
    margin-bottom: 20px;
}
.user-msg{
    margin-left: 0px;
}
.user-msg-th{
    /* 响应式标记 */
    width: 240px;
    float: left;
    margin: 24px 22px 10px 0;
}
.user-msg-th-icon{
    width: 100px;
    border: 5px solid pink;
    border-radius: 60px;
    /*background: url(Images/邮箱.png) no-repeat;*/
    display: inline-block;
}
.user-msg-th-cont{
    margin-left: 16px;
    display: inline-block;
    vertical-align: top;
}
.h-safe-title {
    font-size: 16px;
    color: #FFFF66;
    margin-bottom: 8px;
}
.h-safe-desc{
    font-size: 12px;
    color: #99a2aa;
    margin-bottom: 8px;
}

/* ------------------------------------------------- */

.box1.is-open{
    position: fixed;
    left:-80%;
    top:0;
    width:80%;
    z-index:3;
    background-color:#222;
    height:100vh;
    transition: all .2s;
}
.box1.is-open.active{
    left:0;
}
.becomeBlack{
    transition: all .5s;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.2);
    z-index:1;
}

.user-Center-Container{
    display:none;
}

.user-Center-Container.is-open{
    display:block;
    position: fixed;
    z-index:2;
    border-radius: 5px;
    height:40px;
    line-height:40px;
    width:26px;
    top:50%;
    bottom:50%;
    left:-5px;;
    background:rgba(0,0,0,0.5);
}
.user-head{
    margin:0 auto;
    margin-bottom:20px;
}
.user-head img{
    margin:0;
    cursor: pointer;
}


#img-container{
    width:600px;
    height:338px;
}
@media (max-width: 1000px){
    #img-container{
        width:400px;
        height:225px;
    }
}
@media (max-width: 768px){
    #img-container{
        width:200px;
        height:127.5px;
        margin-bottom:20px;
    }
}


.img-preview{
    width:145px;
    height:145px;
    overflow: hidden;
    background:grey;
}
@media (max-width: 768px){
    .img-preview {
        height:150px;
        width:150px;
    }
}
@media (max-width: 400px){
    .img-preview {
        height:100px;
        width:100px;
    }
}
.img-preview.cir{
    border-radius: 50%;
}
.img-preview{
    display:block;
}
.btn-container{
    margin:20px auto;
    padding:20px 0;
}
.cas-container{
    display:flex;
    justify-content:space-around;
}

@media (max-width: 768px){
    .cas-container{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
}
.idcard-container{
    width:600px;
    height:338px;
    margin:0 auto;
}
@media (max-width: 768px){
    .idcard-container{
        width:300px;
        height:169px;
    }
}
.idcard-container>img{
    width:100%;
    height:100%;
}
/* .cropper-container{
    max-width:400px;
    max-height:225px;
    min-height:225px;
    min-width:400px;
} */
#tab_9{
    color:black;
}

#tab_8{
    color:black;
}
.notice-sth>p>i{
    color:#F25D8E;
}

footer{
    background:#ABCDEF
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
#id-number{
  margin-top:5px;
}
  .popwindow{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    z-index:10;
    background: rgba(0,0,0,0.4);
    display:none;
    justify-content: center;
    align-items: center;
}
.popwindow.active{
    display:flex;
    justify-content: center;
    align-items: center;
}
.warn-cotainer{
    width:200px;
    background:rgba(255,255,255,0.8);
    height:100px;
    border-radius:5px;
    border:0 solid black;
    color:black;
}
.warn-top{
    height:30px;
    line-height:30px;
    text-align: right;
    background: #99CCFF;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
 .warn-top>span{
    margin-right:5px;
    cursor: pointer;
}
 .warn-top>span:hover{
    cursor: pointer;
    background:black;
}

.warn-bottom{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height:70px;
    background: #eee;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.warn-bottom>.btn.btn-default{
    background: #6699CC
}