@charset "utf-8";
/* Home Style */
#tf-home {
	background:url(../img/background/bg01.jpg);
	/*background:url(img/1500x500.jpg);*/
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#cfcfcf;
}
#tf-home .overlay {
	background:-moz-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.8)),color-stop(17%,rgba(0,0,0,0.73)),color-stop(35%,rgba(0,0,0,0.66)),color-stop(62%,rgba(0,0,0,0.55)),color-stop(100%,rgba(0,0,0,0.4)));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#66000000',GradientType=0);
	/* IE6-9 */
	height:800px;
	background-attachment:fixed;
}
#tf-home p.lead {
	color:#e3e3e3;
}
.content {
	position:relative;
	padding:15% 0 0;
}
.color {
	color:#fcac45;
}
a.fa.fa-angle-down {
	padding:10px 15px;
	color:#fff;
	border:2px solid #b4b4b4;
	border-radius:50%;
	font-size:24px;
	margin-top:200px;
	transition:all 0.5s;
}
a.fa.fa-angle-down:hover {
	background:#fcac45;
	color:#ffffff;
	border:2px solid #fcac45;
}

@media (max-width: 603px) {
	#tf-menu.navbar-default {
		background-color: rgba(0, 0, 0, 0.79);
	}

}
@media (max-width: 768px){
	.content {
		padding: 40% 0 0;
	}
	.container{
		background-color: #2b2e33;

	}
}


/*register*/
#body-container{
	border:1px solid #99CCFF;
	background-color:rgba(153,204,255,0.1);
	transition:all 2s ease-out;
	-moz-transition:all 2s ease-out; /* Firefox 4 */
	-webkit-transition:all 2s ease-out; /* Safari and Chrome */
	-o-transition:all 2s ease-out; /* Opera */
}
#body-container:hover{
	border-radius: 30px;
	background-color:rgba(153,204,255,0.5);
}