/*usercenter*/
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}
#tf-home .overlay {
	background:-moz-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.8)),color-stop(17%,rgba(0,0,0,0.73)),color-stop(35%,rgba(0,0,0,0.66)),color-stop(62%,rgba(0,0,0,0.55)),color-stop(100%,rgba(0,0,0,0.4)));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#66000000',GradientType=0);
	/* IE6-9 */
	height:1900px;
	background-attachment:fixed;
}
#tf-home p.lead {
	color:#e3e3e3;
}
.content {
	position:relative;
	padding:10% 0 0;
}
@media (max-width: 640px){
    .content {
        padding:30% 0 0;
    }
}
@media (max-width: 960px){
    .content {
        padding:15% 0 0;
    }
}
.container{
    /*响应式标记，全改为15px*/
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width: 768px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.box1{
    /*border: 4px pink dashed;*/
    opacity: 0.99;
    color: #99a2aa;
    padding-right: 0px;
    padding-left: 0px;
    background-color:rgba(51,51,51,0.8);
    border: #00FFCC 1px solid;
    min-height:900px;
}
.box2{
    border: 4px #ccd0d7 dashed;
    opacity: 0.99;
    color: #99a2aa;
    background-color:rgba(255,255,255,0.8);
    padding: 50px 20px 0;
    min-height:900px;
}
.box1 .btn-block + .btn-block {
    margin-top: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #00a1d7;
    border-radius: 0px;
}
.box1 .nav-pills > li > span{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: #00FFCC 1px solid;
    border-bottom: #00FFCC 1px solid;
    font-size: 20px;
}
.nav-pills-special > li > a {
    border-top: #00FFCC 1px solid;
}
.nav-pills-special {
    border-bottom: #00FFCC 1px solid;
}
.line-border{
    border-bottom: #00FFCC 2px solid;
    margin-top: 2%;
    margin-bottom: 2%;
}
.user-head{
    max-width: 130px;
    max-height: 130px;
}
.user-head-left{
    /* 响应式标记 */
    display: inline-block;
    margin-left: 16px;
}
.user-head-left .user-top-name{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin-right: 8px;
    color: #fb7299
}
.user-head-left .user-top-tags{
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 4px;

    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.user-head-left .user-top-tag1-color1{
    border: 1px solid #fb7299;
    background-color: #fb7299;
    color: #fff;
}
.user-head-left .user-top-tag1-color2{
    border: 1px solid #00a1d7;
    background-color: #00a1d7;
    color: #fff;
}
.user-head-left .user-level{
    margin-top: 2%;
    /* 响应式标记 */
    width: 300px;
    transition:all 0.5s;
    margin-left: 0px;

}
.user-head-left .user-level .progress .progress-bar{
    display: inline-block;
    background-color: #ff905a;
    line-height: 20px;
}
.user-head-left .user-level .user-level-progress{
    padding-left: 0px;
    margin-bottom: 2%;
}
.user-head-left .user-level .user-level-span{
    border: 1px solid #ff905a;
    background-color: #ff905a;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}
.user-motto{
    color: #99a2aa;
    font-size: 15px;
}
.btn-user{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ced3db;
    cursor: pointer;
    color: #fff;
    background-color: #FF6666;
}
.user-msg-title {
    display: block;
    font-size: 20px;
    color: #9933FF;
    vertical-align: top;
    margin-bottom: 20px;
}
.user-msg{
    margin-left: 0px;
}
.user-msg-th{
    /* 响应式标记 */
    width: 240px;
    float: left;
    margin: 24px 22px 10px 0;
}
.user-msg-th-icon{
    width: 100px;
    border: 5px solid pink;
    border-radius: 60px;
    /*background: url(Images/邮箱.png) no-repeat;*/
    display: inline-block;
}
.user-msg-th-cont{
    margin-left: 16px;
    display: inline-block;
    vertical-align: top;
}
.h-safe-title {
    font-size: 16px;
    color: #FFFF66;
    margin-bottom: 8px;
}
.h-safe-desc{
    font-size: 12px;
    color: #99a2aa;
    margin-bottom: 8px;
}

/* ------------------------------------------------- */

.box1.is-open{
    position: fixed;
    left:-80%;
    top:0;
    width:80%;
    z-index:3;
    background-color:#222;
    height:100vh;
    transition: all .2s;
}
.box1.is-open.active{
    left:0;
}
.becomeBlack.is-open{
    visibility:visible;
    position: fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    z-index:2;
}
.becomeBlack{
    visibility: hidden;
    transition: all .5s;
}
.user-Center-Container{
    display:none;
}

.user-Center-Container.is-open{
    display:block;
    position: fixed;
    z-index:2;
    border-radius: 5px;
    height:40px;
    line-height:40px;
    width:26px;
    top:50%;
    bottom:50%;
    left:-5px;;
    background:rgba(0,0,0,0.5);
}
.user-head{
    margin:0 auto;
    margin-bottom:20px;
}
.user-head img{
    margin:0;
    cursor: pointer;
}


#img-container{
    width:400px;
    height:255px;
    margin:20px auto;
}
@media (max-width: 768px){
    #img-container{
        width:200px;
        height:127.5px;
        margin:20px auto;
    }
}
#pre-container{
    display:none;
}
#pre-container.active{
    display:block;
}
.img-preview{
    width:255px;
    height:255px;
    overflow: hidden;
}
@media (max-width: 768px){
    .img-preview {
        height:150px;
        width:150px;
    }
}
@media (max-width: 400px){
    .img-preview {
        height:100px;
        width:100px;
    }
}
.img-preview.cir{
    border-radius: 50%;
}
.img-preview{
    display:block;
}
.btn-container{
    margin:20px auto;
}
/* .cropper-container{
    max-width:400px;
    max-height:225px;
    min-height:225px;
    min-width:400px;
} */