#newanime-container{
    text-align: left;
}
.anime-img-con{

}
.anime-img-con img{
    width:100%;
}
.anime-title-con{

}
.anime-title-con>h4{
    font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.anime-container{
    display:flex;
    flex-direction: column;

}
.anime-flex{
    display:flex;
    flex-wrap:wrap;
}