#tablelist.table-bordered{
    border:0px solid #ddd;
}
#tablelist.table-bordered>thead>tr>th{
    border:1px solid #ddd;
}
#tablelist>tbody>tr:nth-child(odd){
    background-color: rgba(249,249,249,0.3);
}
@media (max-width: 768px){
    #tablelist .col-xs-0 {
        display:none
    }
}
/* 修改bootstrap和html默认样式 表格全部居中 */
#tablelist th{
    text-align:center;
}
#tablelist>thead>tr>th{
    vertical-align:middle;
}
#tablelist>tbody>tr>td{
    vertical-align:middle;
}
/*结束 修改bootstrap和html默认样式 表格全部居中 */
#body-container>.row{
padding:30px;
}
#body-container{
    padding:0;
}
#page>.pagination>li>a{
    background:rgba(255,255,255,0.1);
    color:#ddd;
}
#page>.pagination>li.active>a{
    background:rgba(51,122,183,0.3)
}
#page>.pagination>li>a:hover{
    background:rgba(255,255,255,0.3);
}
.search-bar{
    display:inline;
    width:auto;

}
.form-control.search-bar{
    border-radius: 0px;
}
#search-type{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.search-container.visible-xs{
    margin:30px;
}
.topbar{
    width:100%;
    background:rgba(255,255,255,0.1);
    border:1px solid #ddd;
    display:flex;
    justify-content: space-around;
    align-items: center;
    line-height:30px;
}
.topbar>p{
    margin:0px;
}

.popwindow{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    z-index:10;
    background: rgba(0,0,0,0.4);
    /* display:none; */
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.popwindow p{
    margin-bottom:6px;;
}
.popwindow.active{
    display:flex;
    justify-content: center;
    align-items: center;
}
.warn-cotainer{
    width:300px;
    background:rgb(255,255,255);
    border-radius:5px;
    border:0 solid black;
    color:black;
  }
 .warn-top{
    height:30px;
    line-height:30px;
    text-align: right;
    background: rgb(64,158,255);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
 .warn-top>span{
    margin-right:5px;
    cursor: pointer;
}
 .warn-top>span:hover{
    cursor: pointer;
    background:black;
}

.warn-bottom{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding:3px;
}
.warn-bottom>.btn.btn-default{
    background: rgb(64,158,255);
    color:white;
    cursor: pointer;
}