section.container>div>h2{
    font-size:20px;
    padding:0;
    margin:0;
    min-height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
section.container{
    padding:0;
}
section.container>div{
padding:0 15px;
}
section{
    border-radius: 5px;
    border:1px solid #ddd;
    margin-top:30px;
}
.section-white{
    min-height:30px;
    background:rgba(255,255,255,0.3);
    display:flex;
    align-items: center;
}
ul>li>span{
    font-weight:bold;
}
#body-container{
    padding-left:30px;
    padding-right:30px;
}