body,html {
	font-family:'Lato',sans-serif;
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:antialiased !important;
	color:#5a5a5a;
}
h1 {
	text-transform:uppercase;
}
h1 strong {
	line-height:50px;
	font-weight:900;
}
h2 {
	text-transform:uppercase;
	line-height:20px;
	margin:0;
}
h3 {
	font-size:18px;
	font-weight:900;
}
h4 {
	text-transform:uppercase;
}
h5 {
	text-transform:uppercase;
	font-weight:700;
	line-height:20px;
}
b {
	color:#FCAC45;
	font-size:25px;
}
strong{
	line-height: 50px;
}
p {
	font-family:'Open Sans',sans-serif;
}
p.intro {
	font-size:16px;
	margin:12px 0 0;
	line-height:24px;
	font-family:'Open Sans',sans-serif;
}
a {
	color:#FCAC45;
}
a:hover,a:focus {
	text-decoration:none;
	color:#FCAC45;
}
.section-title hr {
	border-color:#fcac45;
	border-width:4px;
	width:60px;
	float:left;
	clear:both;
}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
ul,ol {
	padding:0;
	webkit-padding:0;
	moz-padding:0;
}




/* Footer */
nav#footer {
	background:#222222;
	color:#ffffff;
	padding:20px 0 15px 0;
}
nav#footer .fnav {
	vertical-align:middle;
}
ul.footer-social li {
	display:inline-block;
	margin-right:10px;
}
nav#footer p {
	font-size:12px;
	margin-top:10px;
}
#footer i.fa {
	height:30px;
	width:30px;
	border:2px solid #8c8c8c;
	font-size:20px;
	padding:4px 5px;
	border-radius:50%;
	color:#8c8c8c;
	transition:all 0.5s;
}
#footer i.fa:hover {
	background:#FCAC45;
	border-color:#FCAC45;
	color:#ffffff;
}