<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{title}} 郑州轻工业大学 动漫协会！</title>
	<link rel="stylesheet" type="text/css" href="/static/css/Base_Footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="shortcut icon" href="/static/images/Base_imge/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    {%block head%}{%endblock head%}
</head>
<body>

{%block body%}{%endblock body%}
    <!--底部开始-->
<div class="footer">
    <div class="fBox" style="color: #FFFAFA;">
        <div class="footer_nav" style="color: #FFFAFA;">
            -<a href="http://xiaobao.zzuli.edu.cn/media/user/2017-04-15/show2.html" title="轻院校报" target="_blank">轻院校报</a>-
            <a href="http://www.zzuli.edu.cn/s/12/t/958/f8/2a/info129066.htm" title="轻院学报" target="_self">轻院学报</a>-
            <a href="http://www.zzuli.edu.cn/s/12/t/958/p/1/c/6163/d/20082/list.htm" title="校园风光" target="_blank">校园风光</a>-
            <a href="http://zyzx.zzuli.edu.cn" title="资源平台" target="_blank">资源平台</a>-
            <a href="http://lib.zzuli.edu.cn/" title="图书馆" target="_blank">图书馆</a>-
        </div>
          本网站提供新影视资源均系收集各大网站，本网站只提供web页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传</br>若本站收集的节目无意侵犯了贵司版权，请给
        <a href="mailto:1025212779@qq.com">1025212779@qq.com</a>邮箱地址来信，我们将在第一时间删除相应资源</br>Copyright &#169; 2017-2018
        <a href="https://zzuilACG.net">zzuilACG.net</a>.All Rights Reserved .
    </div>
</div>
        <!--底部结束-->
</body>
</html>
