<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {%block css%}{%endblock css%}
        <title>郑州轻工大学 动漫协会！</title>
    </head>
    <body>
    <!-- _________________________ Start Background Image __________________________ -->
        {%block bgImage%}{%endblock bgImage%}
    <!-- _________________________ Finish Background Image __________________________ -->




    <!-- _________________________ Start Page ___________________________ -->


    <!-- _________________________ Start Header _________________________ -->
        {%block Header%}{%endblock Header%}
    <!-- _________________________ Finish Header ________________________ -->



    <!-- _________________________ Finish Page __________________________ -->
    </body>
</html>