{%extends 'Base.html' %}

{%block head%}{%endblock head%}

{%block bgImage%}
    <div class="bgImage">
        <img src="/static/images/Base_imge/Index_images/subpage_bg.jpg" alt="" />
    </div>
{%endblock bgImage%}




{%block Header%}
<!-- _________________________ Start Header _________________________ -->
    <div class="header_wrap">
        <div id="header">
            <div class="header_inner">
                <a class="logo" title="NataliaTsunako" href="index.html">
                    <img alt="NataliaTsunako" src="/static/images/Base_imge/Index_images/logo.png" />

                </a>

<!-- _________________________ Start Navigation _____________________ -->
                <div class="navigation_wrap">
                    <ul id="navigation">
                    <li><a href="/"><span></span></a></li>
                        <li><a href="about.html">关于<span>about</span></a></li>
                        <li><a href="http://1-yi.cn">进入萌站<span>GO moe</span></a>

                        </li>
                        <li><a href="http://img.xiu.moe">萌图床<span>pic moe</span></a>

                        </li>
                        <li><a href="http://blog.yoomeili.cn">博客<span>blog</span></a>

                        </li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1427460400&site=qq&menu=yes">联系笨站长<span>love me</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="header_arrow_wrap">
                <a href="#" class="header_arrow"><span>&nbsp;</span></a>
            </div>
<!-- _________________________ Finish Navigation ____________________ -->
        </div>
    </div>
    {%block Header_context%}{%endblock Header_context%}
{%endblock Header%}


{%block Middle%}{%endblock Middle%}

{%block End_Script%}{%endblock End_Script%}