<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{title}} 郑州轻工业大学 动漫协会</title>
    <!--
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/media/images/bitbug_favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    -->
    {%block head%}{%endblock head%}
</head>
<body>

{%block body%}{%endblock body%}

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 郑州轻工业大学 动漫协会 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>
</html>