{%extends 'Base.html' %}

{%block head%}



    {%block head_more%}{%endblock head_more%}

{%endblock head%}



{%block body%}

    {%block Header%}

<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- 移动设备显示的导航部分 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="www.zzuliacgn.cf">郑轻大动漫协会</a>
        </div>
        <!-- 导航主体 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主站</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">漫协动态 <i class="fa fa-toggle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bulding/">社团活动公告</a></li>
                        <li><a href="/bulding/">漫协干部公示</a></li>
                        <li><a href="/bulding/">动漫协会编年史</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/bulding/">动漫协会外宣展示</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">肥宅快乐源 <i class="fa fa-toggle-down"></i></a>
                    <ul class="dropdown-menu nav-menu navbar-inverse">
                        <li><a href="/bulding/">动画番剧--Animations</a></li>
                        <li><a href="/bulding/">漫有引力--Comics</a></li>
                        <li><a href="/bulding/">游戏中心--Games</a></li>
                        <li><a href="/bulding/">次元圣经--Novel&Fiction</a></li>
                        <li><a href="/bulding/">资讯情报--Intelligence</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/bulding/">BT资源区</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li><a href="/bulding/">漫协BBS</a></li>
                <li><a href="/bulding/">画友涂墙</a></li>
                <li><a href="/bulding/">聊天室</a></li>
            </ul>
            <!--搜索框-->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn">Link Start!</button>
            </form>
            <!--导航条右-->
            <!--未登录状态-->
            <ul id="noLogin" class="nav navbar-nav navbar-right">
                <li><a href="/bulding/">用户登陆</a></li>
                <li><a href="/user/Register/">用户注册</a></li>
            </ul>
            <!--已登录状态-->
{#            <ul id="Logining" class="nav navbar-nav navbar-right">#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                        <img src="img/default.jpg" class="img-responsive img-circle center-block nav-header" alt="用户头像">#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#">（假装是用户简要资料）</a></li>#}
{#                        <li><a href="#">个人中心</a></li>#}
{#                        <li><a href="#">投稿管理</a></li>#}
{#                        <li role="separator" class="divider"></li>#}
{#                        <li><a href="#">退出</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#">消息</a></li>#}
{#                <li><a href="#">动态</a></li>#}
{#                <li><a href="#">收藏夹</a></li>#}
{#                <li><a href="#">历史</a></li>#}
{#            </ul>#}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    {%endblock Header%}

    {%block Middle%}{%endblock Middle%}

{%endblock body%}

{#JS附加区#}
{%block End_Script_more%}{%endblock End_Script_more%}