{%extends 'Base_Body.html' %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_User/css/Register.css">
    <link rel="stylesheet" href="/static/ZA_User/css/userBase.css">

{%endblock head_more%}

{%block Header_context%}{%endblock Header_context%}
{%block Middle%}
<div id="tf-home" class="text-center register">
    <div class="overlay">
        <div class="content">
            <h1>动漫协会<strong><span class="color">用户注册</span></strong></h1>
            <p class="lead">--网站的部分功能，仅对已经注册的用户才会开放哦</p>
            <!--<a href="#tf-about" class="fa fa-angle-down page-scroll"></a>-->
            <!--<img src="img/dont.jpg" class="img-responsive img-rounded center-block" alt="用户提示" style="height: 400px;width: auto;">-->
        </div>
        <div id="body-container" class="container">
            <div class="row">
                <div class="space"></div>
                <form class="form-horizontal" id="reg_form" action="/user/RegHandle/" method="post" onsubmit="return register();">
                    {% csrf_token %}
                    <div class="col-md-6 box">
                        <img class="img-responsive center-block hidden-xs hidden-sm" src="/static/ZA_Show/img/background/QYMX-logo.png"/>
                    </div>
                    <div class="col-md-6">
                        <!--has-success：验证成功 has-feedback：输入框内字符样式-->
                        <div class="form-group has-feedback uname">
                            <label class="control-label col-sm-4" for="inputUserId">用户名 UserName</label>
                            <div class="col-sm-8">
                                <input name="user_name" type="text" class="form-control" id="inputUserId" aria-describedby="inputUserIdStatus" placeholder="用户名的咯!"
                                       data-easytip="position:top;class:easy-red;">
                                <span class="logoAction1 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputSuccessIdStatus" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group has-feedback pwd1">
                            <label for="inputPassword1" class="col-sm-4 control-label">用户密码 Password</label>
                            <div class="col-sm-8 ">
                                <input name="password" type="password" class="form-control" id="inputPassword1" aria-describedby="inputPassword1Status" placeholder="密码越复杂越好，拿小本子记下来！"
                                       data-easytip="position:top;class:easy-red;">
                                <span class="logoAction2 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputPassword1Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group has-feedback pwd2">
                            <label for="inputPassword2" class="col-sm-4 control-label">二次密码 SecondPW</label>
                            <div class="col-sm-8">
                                <input name="pwdConfirm" type="password" class="form-control" id="inputPassword2" aria-describedby="inputPassword2Status" placeholder="重要的东西要输两遍，我看看一不一样！"
                                       data-easyform="length:6 16;char-english;equal:#inputPassword1;real-time;"
                                       data-message="两次密码输入要一致，检查一下！"
                                       data-easytip="position:top;class:easy-blue;">
                                <span class="logoAction3 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputPassword2Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group has-feedback email">
                            <label for="inputEmail1" class="col-sm-4 control-label">电子邮箱 Email</label>
                            <div class="col-sm-8">
                                <input name="Email" type="email" class="form-control" id="inputEmail1" aria-describedby="inputEmail1Status" placeholder="注册后无法修改，邮箱不可重复注册。"
                                       data-easytip="position:top;class:easy-blue;">
                                <span class="logoAction4 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputEmail1Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group has-feedback phone">
                            <label class="control-label col-sm-4" for="inputphone1">联系手机 Mobile</label>
                            <div class="col-sm-8">
                                <input name="phone" type="text" class="form-control" id="inputphone1" aria-describedby="inputphone1Status" placeholder="选填，注册后无法修改。"
                                       data-easytip="position:top;class:easy-blue;">
                                <span class="logoAction5 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputphone1Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-4">验证码 VerificationCode</label>
                            <div class="col-sm-6 col-sm-offset-1 text-center btn btn-info" id="TencentCaptcha" data-appid="2089650139" data-cbfn="callback">点我开始验证</div>
                        </div>
                        <div class="space"></div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <input type="checkbox" id="inputcheckbox"> 我已同意《XXX用户使用协议》(预留)
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-info btn-register"
                                        data-easytip="position:top;class:easy-red;">提交注册信息！</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock Middle%}

{%block End_Script_more%}
    <script type="text/javascript" src="/static/ZA_User/js/Register.js"></script>
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
{%endblock End_Script_more%}

{#{%block content%}#}
{#    <div style="width:500px;height: 500px">#}
{#        <p>郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！郑州轻工业学院 动漫协会！</p>#}
{#    </div>#}
{#{%endblock content%}#}
