{%extends 'Base_Body.html' %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_User/css/userBase.css">
    <link rel="stylesheet" href="/static/ZA_User/css/userInfo.css">
    <link rel="stylesheet" href="/static/ZA_User/css/blackList.css">
    <link rel="stylesheet" href="/static/ZA_User/css/safeList.css">
    <link rel="stylesheet" href="/static/ZA_User/css/prs-info.css">
    <link href="https://cdn.bootcss.com/cropper/4.0.0/cropper.min.css" rel="stylesheet">
{%endblock head_more%}


{%block Middle%}
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>郑州轻工业大学<strong><span class="color">动漫协会</span></strong></h1>
            <p class="lead">--前方网站建设中，通行禁止！<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i></p>
        </div>
        <div id="body-container" class="container">
            <div class="row">
                <div class="user-Center-Container" @click="asideOpen">
                    <span class="glyphicon glyphicon-chevron-right user-Center" aria-hidden="true"></span>
                </div>
                <!-- ，详细内容见aside-vue -->
                <app-aside @click-aside="asideClose"></app-aside>
                <main class="col-sm-10 col-md-10 box2">
                    <div class="">
                        <!-- 渲染主要内容的地方 详细内容见app-vue和里面指向的各个文件-->
                        <router-view :userdata="userdata" @loading-open="loadingOpen" @loading-close="loadingClose" @updata-fail="popwindowopen"></router-view>
                    </div>
                </main>
                <div class="clearfix"></div>
                <!-- becomeBlack -->
            </div>
        </div>
    </div>
    <!-- transition，vue自带动画，像素小于768px开始出现侧栏 -->
    <transition name="fade">
        <div class="becomeBlack"  @click="asideClose" v-show=ifblack></div>
    </transition>
    <!-- loading画面，进入页面和上传信息时出现 -->
    <div class="loading" v-show=ifloading>
        <div>
            <div class="box-taiji">
                <div class="circle-01"></div>
                <div class="circle-02"></div>
            </div>
            <p>少女祈祷中...</p>
        </div>
    </div>
    <div class="popwindow" :class="ifpopwindow" @touchmove.stop.prevent="">
        <div class="warn-cotainer">
            <div class="warn-top"><span @click="popwindowclose">X</span></div>
            <div class="warn-bottom">
                <span>上传失败，请重试</span>
                <span class="btn btn-default" @click="popwindowclose">确定</span>
            </div>
        </div>
    </div>
</div>
{%endblock Middle%}

{%block End_Script_more%}
<script type="text/javascript" src="https://cdn.bootcss.com/cropper/4.0.0/cropper.min.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue-router.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/heimingdanguanli.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/shimingrenzheng.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/wodejilu.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/wodetouxiang.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/wodexinxi.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/wodexunzhang.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/yaoqingzhuce.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/zhanghaoanquan.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/zhongxinshouye.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/aside-vue.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/vue/app-vue.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/userCenter.js"></script>
{%endblock End_Script_more%}
