{%extends 'Base_Body.html' %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_User/css/userBase.css">
    <link rel="stylesheet" href="/static/ZA_User/css/userInfo.css">
{%endblock head_more%}


{%block Middle%}
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="becomeBlack"></div>
        <div class="content">
            <h1>郑州轻工业大学<strong><span class="color">动漫协会</span></strong></h1>
            <p class="lead">--前方网站建设中，通行禁止！<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i></p>
        </div>
        <div id="body-container" class="container">
            <main class="row">
                <div class="user-Center-Container">
                    <span class="glyphicon glyphicon-chevron-right user-Center" aria-hidden="true"></span>
                </div>
                <aside class="col-sm-2 col-md-2 box1">
                    <ul class="nav nav-pills nav-stacked navbar-inverse">
                        <li><span>个人中心</span></li>
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-home"></i> 中心首页 </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-user"></i> 我的信息 </a>
                        </li>
                        <li>
                            <a href="#tab_3" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-camera-retro"></i> 我的头像 </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="#tab_3" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-flag"></i> 我的勋章 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#tab_4" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-user-secret"></i> 账号安全 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#tab_5" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-user-times"></i> 黑名单管理 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#tab_6" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-location-arrow"></i> 我的记录 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#tab_7" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-id-card"></i> 实名认证 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#tab_8" data-toggle="tab" class="tab-default"><i class="fa fa-fw fa-user-plus"></i> 邀请注册 </a>-->
                        <!--</li>-->
                    </ul>
                    <ul class="nav nav-pills nav-stacked navbar-inverse nav-pills-special">
                        <!--<li>-->
                        <!--<a href="#"> 个人空间 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#"> 创作中心 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#"> 投稿管理 </a>-->
                        <!--</li>-->
                    </ul>
                </aside>
                <div class="col-sm-10 col-md-10 box2">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="user-head center-block">
                                        <img src="/static/ZA_User/img/HeaderImg/head.jpg" class="img-responsive img-circle"/>
                                    </div>
                                </div>
                                <div class="col-md-10 text-left">
                                    <div class="user-head-left">
                                        <span class="user-top-name">大番薯</span>
                                        <span class="user-top-tags user-top-tag1-color1">校园认证</span>
                                        <span class="user-top-tags user-top-tag1-color2">正式会员</span>
                                        <div class="user-motto">"个性签名"</div>
                                        <div class="user-level row">
                                            <span class="col-sm-2 user-level-span">LV0</span>
                                            <div class="col-sm-10 progress user-level-progress">
                                                <div class="progress-bar progress-bar-striped active" style="width:6%"></div>
                                            </div>
                                        </div>
                                        <a class="btn btn-user" href="#" role="button">修改资料</a>
                                        <a class="btn btn-user" href="#" role="button">个人空间</a>
                                    </div>
                                </div>
                            </div>
                            <div class="line-border"></div>
                            <div class="row user-msg text-left">
                                <div class="user-msg-title">
                                    <span>账号状态</span>
                                    <a href="#" class="btn btn-user btn-xs">更多设置</a>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="user-msg-th">
                                        <img class="user-msg-th-icon" src="/static/ZA_User/img/background/邮箱.png"/>
                                        <div class="user-msg-th-cont">
                                            <b class="h-safe-title">我的邮箱</b>
                                            <p class="h-safe-desc">绑定邮箱即可邮箱登录</p>
                                            <a class="btn btn-user btn-xs disabled" role="button">已绑定</a>
                                            <a href="#" class="btn btn-user btn-xs">更改邮箱</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="user-msg-th">
                                        <img class="user-msg-th-icon" src="/static/ZA_User/img/background/手机.png"/>
                                        <div class="user-msg-th-cont">
                                            <b class="h-safe-title">我的手机</b>
                                            <p class="h-safe-desc">绑定手机即可手机登录</p>
                                            <!--<span class="btn btn-user btn-xs">已绑定</span>-->
                                            <!--<a href="#" class="btn btn-user btn-xs">更改手机</a>-->
                                            <a href="#" class="btn btn-user btn-xs disabled" role="button">暂不支持！</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="user-msg-th">
                                        <img class="user-msg-th-icon" src="/static/ZA_User/img/background/写报告.png"/>
                                        <div class="user-msg-th-cont">
                                            <b class="h-safe-title">密保问题</b>
                                            <p class="h-safe-desc">设置密保，账号更安全</p>
                                            <!--<span class="btn btn-user btn-xs">已绑定</span>-->
                                            <!--<a href="#" class="btn btn-user btn-xs">更改邮箱</a>-->
                                            <a href="#" class="btn btn-user btn-xs">去设置</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="user-msg-th">
                                        <img class="user-msg-th-icon" src="/static/ZA_User/img/background/代办事项.png"/>
                                        <div class="user-msg-th-cont">
                                            <b class="h-safe-title">实名认证</b>
                                            <p class="h-safe-desc">学号认证、证件认证</p>
                                            <!--<span class="btn btn-user btn-xs">已绑定</span>-->
                                            <!--<a href="#" class="btn btn-user btn-xs">更改邮箱</a>-->
                                            <a href="#" class="btn btn-user btn-xs">去设置</a>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-6" style="background-color: #00FFCC">-->
                                <!---->
                                <!--</div>-->
                                <!--<div class="col-md-6" style="background-color: pink"></div>-->
                            </div>
                            <div class="line-border"></div>
                            <div class="row user-msg text-left">
                                <div class="user-msg-title">
                                    <span>成就勋章（待建预留）</span>
                                    <a href="#" class="btn btn-user btn-xs">更多勋章设置</a>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="user-msg-th">
                                        <img class="user-msg-th-icon" src="/static/ZA_User/img/background/邮箱.png"/>
                                        <div class="user-msg-th-cont">
                                            <b class="h-safe-title">我的邮箱</b>
                                            <p class="h-safe-desc">绑定邮箱即可邮箱登录</p>
                                            <span class="btn btn-user btn-xs">已绑定</span>
                                            <a href="#" class="btn btn-user btn-xs">更改邮箱</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_2">
                            <div class="row user-msg text-left">
                                <div class="user-msg-title">
                                    <span><i class="fa fa-address-card-o fa-2x"></i> 我的信息</span>
                                    <a href="#" class="btn btn-user btn-xs">更多设置</a>
                                </div>
                                <div class="line-border"></div>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" for="username">昵称：</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" id="username" placeholder="昵称">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" for="usermotto">个性签名：</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" id="usermotto" placeholder="个性签名">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" for="Birthday">出生日期：</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" id="Birthday" placeholder="如：1998-05-25">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label">用户性别? XiuJi?：</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" id="inlineRadio1" value="option1"> 猛汉 ♂
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" id="inlineRadio2" value="option2"> 萌妹 ♀
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label">上次登录IP：</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" id="FromIP" placeholder="127.0.0.1" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" for="identity">用户身份：</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" id="identity" placeholder="校外人士" readonly>
                                        </div>
                                    </div>
                                    <!--<div class="form-group form-group-sm">-->
                                    <!--<label class="col-sm-2 control-label">院系 Faculty</label>-->
                                    <!--<div class="col-sm-4" readonly>-->
                                    <!--<select class="form-control">-->
                                    <!--<option>校外人士</option>-->
                                    <!--<option>电气信息工程学院</option>-->
                                    <!--<option>机电工程学院</option>-->
                                    <!--<option>食品与生物工程学院</option>-->
                                    <!--<option>烟草科学与工程学院</option>-->
                                    <!--<option>材料与化学工程学院</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                        <!-- 更换头像 -->
                        <div class="tab-pane fade" id="tab_3">
                            <div class="row user-msg text-left">
                                <div class="user-msg-title"><span><i class="fa fa-user-o fa-2x"></i> 我的头像</span></div>
                                <div class="line-border"></div>
                            </div>
                            <div class="text-center">
                                <div class="user-head">
                                    <img src="/static/ZA_User/img/HeaderImg/head.jpg" class="img-circle"/>
                                </div>
                                <div id="img-container">
                                    <img id="user-head-image" src="/static/ZA_User/img/background/head-zhanwei.png">
                                </div>
                                <div id="pre-container">
                                    <div class="container">
                                            <div class="col-xs-6 col-sm-6"><div class="img-preview squ"></div></div>
                                            <div class="col-xs-6 col-sm-6"><div class="img-preview cir"></div></div>
                                    </div>
                                </div>
                                <div class="btn-container">
                                    <label class="btn btn-primary btn-upload" for="input-image" title="Upload image file">
                                        <input type="file" class="sr-only" id="input-image" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                        <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Import image with Blob URLs">
                                          选择图片<span class="fa fa-upload"></span>
                                        </span>
                                    </label>
                                </div>
                                <button id="change-img-btn"type="button" class="btn btn-user">上传头像</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_4">该标签页功能待建设</div>
                        <div class="tab-pane fade" id="tab_5">该标签页功能待建设</div>
                        <div class="tab-pane fade" id="tab_6">该标签页功能待建设</div>
                        <div class="tab-pane fade" id="tab_7">该标签页功能待建设</div>
                        <div class="tab-pane fade" id="tab_8">该标签页功能待建设</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </main>
        </div>
    </div>
</div>
{%endblock Middle%}

{%block End_Script_more%}
<script type="text/javascript" src="https://cdn.bootcss.com/cropper/4.0.0/cropper.min.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/userCenter.js"></script>
<script type="text/javascript" src="/static/ZA_User/js/headUpdate.js"></script>
{%endblock End_Script_more%}
