{%extends 'Base_Body.html' %}
{%block head_more%}
    <link rel="stylesheet" href="/static/ZA_Construction/CSS/CP_work.css">

{%endblock head_more%}

{%block Header_context%}{%endblock Header_context%}
{%block Middle%}
<div id="tf-home" class="text-center register">
    <div class="overlay">
        <div class="content">
            <h1>郑州轻工业大学<strong><span class="color">动漫协会</span></strong></h1>
            <p class="lead">--前方网站建设中，通行禁止！<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i></p>
        </div>
        <div id="body-container" class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="box1 img-responsive" src="img/cp0.png" alt="illustrator:荻pote"/>
                </div>
                <div class="col-md-6 box2">
                    <img  class="img-responsive" src="img/very_sorry.png"/>
                    <hr role="separator" class="divider">
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-sm-6"><a class="btn btn-info btn-lg" style="margin-top: 40px" href="www.zzuliacgn.cf" role="button">返回到动漫协会主页</a></div>
                        <div class="col-sm-6 text-left" style="border-left: 1px #ccd0d7 dashed;">
                            <span class="color">错误信息：</span>
                            <ul>
                                <li>错误号: 404</li>
                                <li>用户IP: 182.xx.xxx.xxx</li>
                                <li>前端服务器: tx-cd2-webcdn-11</li>
                                <li>处理服务器: shylf-ops-slb-10</li>
                                <li>请求地址: http://www.zzuliacgn.cf/404</li>
                            </ul>
                        </div>
                    </div>
                    <div class="space"></div>
                    <hr role="separator" class="divider">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h1><strong><span class="color">你也想参与网站建设？</span></strong><small><a href="#">加入漫协联系笨站长</a></small></h1>
                        </div>
                    </div>
                    <hr role="separator" class="divider">
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <span class="color">←illustrator:荻pote</span>
                            <br>
                            <span class="color">Pixiv_id:2131660</span>
                            <div class="space"></div>
                            <ul>
                                <li>我们肯定不会忘记</li>
                                <li>和大家一起度过的特别的夏天</li>
                                <li>不管时间怎样流逝</li>
                                <li>我们都会在那个盛夏等待</li>
                                <li class="text-right">——贵月一歌《在盛夏等待》</li>
                            </ul>
                            <ul>
                                <li>建设总是需要时间的</li>
                                <li>抿一口茶，享受青春时光</li>
                            </ul>
                            <div class="space"></div>
                        </div>
                        <div class="col-sm-6 text-left" style="border-left: 1px #ccd0d7 dashed;">
                            <img class="box1 img-responsive" src="img/waiting.jpg"/>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock Middle%}

{%block End_Script_more%}
{%endblock End_Script_more%}

